astroid==2.4.2
Brotli 
certifi==2020.12.5
click==7.1.2
dash 
dash-core-components
dash-html-components 
dash-renderer 
dash-table 
Flask==1.1.2
Flask-Compress 
future
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.15.1
lazy-object-proxy==1.4.3
MarkupSafe 
mccabe==0.6.1
nltk 
numpy 
pandas==1.0.5
plotly 
pylint==2.5.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.4.1
regex 
retrying==1.3.3
six 
threadpoolctl==2.1.0
toml==0.10.1
tqdm
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
xlrd==1.2.0
